//globales
.contenedor__contacto {
    display: block;
    position: relative;
    max-width: 700px;
    margin-bottom: -2rem;
    padding: 2rem;
    margin: -50rem auto;
    /* border: solid 1px var(--blanco); */
    box-shadow:  0 0 6px var(--negro);
    /* overflow: hidden; */
    margin-bottom: -0.1rem;
        @include tablet {
                margin-top: -64.3rem;
        }
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgb(220, 220, 220) 0%, rgba(148,187,233,1) 100%);
    button {
        &:hover {
            transition: 1s;
            scale: 1.1;
        }
    }
}

#contactForm {
    display: grid;
    gap: 1px;
    font-family: var(--fuenteprincipal);
    font-size: 2rem;
    font-weight: 1rem;
    margin-bottom: 0;

}
.contacto__label {
    font-size: 2.4rem;
    background: -webkit-linear-gradient($negro, $negro);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contacto__input {
    transform: scale(1); /* Tamaño original */
    transition: transform 0.3s ease; /* o cualquier propiedad de transición */
        &:hover {
            border: solid $rosa;
            transform: scale(1);
        }

    }
#mensaje {
    transform: scale(1);
    transition: transform .5s ease;
}

@include desktop {
    .contenedor__contacto {
        background-color:$secundario;
        position: relative;
        max-width: 1000px;
        margin: -48rem auto 1.1rem;
        padding: 20px;
        /* border: solid 1px var(--blanco); */
        box-shadow:  0 0 6px var(--negro);
        overflow: hidden;
    }
}