/* ---------------------------------ElDoral Descripciones de casas---------------------------------------- */

.h1__casa {

    h1 {
        color: $negro;
        margin-bottom: 2rem;
    }
}

.casa__img {
    width: 100%;
}

.casa__texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: $fuenteprincipal;
    background: rgb(13,135,187);
    background: linear-gradient(0deg, $blanco 0%, $secundario 84%);
        ul {
            padding: 1rem;
            font-size: 1.5rem;
        }
        ul li {
            display: flex;
            align-items: left;
            justify-content: left;
            margin-bottom: 2rem; /* Ajusta el espacio entre elementos de la lista según tu preferencia */        
            margin: 0;
        }

        p {
            margin: 0;
            background: $base_azul;
        }

        ul li p {
            background: $base_azul;
        }

        span {
            font-size: 1.5rem;
            font-style: none;
        }

        button {
            display: flex;
            margin: 1rem auto;
            padding: 1rem;
            justify-content: center;
        }
  }

  .texto__resumen {
    margin-bottom: 10px; /* Agrega un margen inferior para separar el resumen del resto del contenido */
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;

  }

  .caja__valores {
    text-align: justify;
    h3 {
        text-transform: uppercase;
       
    }
    p {
        font-size: 2rem;
    }
 }