
.bethel-caja {
  display: flex;
  flex-direction: column;
  background-color: $gris;
  @include desktop {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10rem;
    width: 80%;
    margin: 0 auto;
  }
  gap: 2rem;
}



 
  .bethel-descripcion {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    @include tablet {
      margin-top: -5rem;
      margin-right: 2rem;
      margin-left: 1rem;
    }
   

    h3 {
      font-size: 2rem;

      text-transform: uppercase;
    }
    p {
      font-size: 2rem;
    }
  }

  .bethel-caja2 {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: $blanco;
    // background-image: url(/build/img/footer.jpeg);
    background-size: 910px;
    background-repeat: no-repeat;
 

    p {
      justify-content: center;
    }

  }

  .bethel-svg {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    width: 100%;
    border-radius: none;
      ul {
        align-items: center;
      }
    
        @include tablet {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin-top: 0;
          padding: 3rem;
          column-gap: 2rem;
          align-items: center;
          background-color: $blanco;
            ul {
              display: flex;
              gap: 4rem;
            }
        }

            li {
              list-style-type: none;
              justify-content: space-around;
              font-size: 2rem;
              font-weight: 700;
              color: $negro;
              text-align: center;
              padding: 0;
            }
  

    
  }

 